* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html,
body {
  height: 100%;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a4e69;
}

.header {
  width: 100%;
  padding: 4rem;
  background-color: #22223b;
  text-align: center;
  color: white;
}

.main {
  margin-top: 2rem;
}
